node_modules/
client/node_modules/
server/node_modules/
client/dist/
client/tsconfig.tsbuildinfo
server/dist/
server/prisma/dev.db
server/db/*.db
server/uploads/*
!server/uploads/.gitkeep
server/tmp/*
!server/tmp/.gitkeep
server/.env
server_data/
.DS_Store
.local_zone/
digest.txt
*.log
nginx/default.conf
server/prisma/server/db/dev.db
server/prisma/db/
local_html_modify/记忆/TODO
client/.env
